@charset "UTF-8";
@import url(./reset.css);

body {
	background-color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	letter-spacing: 2px;
}

.content {
	filter: contrast(200%);
	background-position: center;
	background-color: #000;
	background-image: url(../assets/images/background.jpg);
	height: 100vh;
	width: 100vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main-title {
	text-align: center;
	font-size: 2.3rem;
	font-weight: 700;
	color: rgb(255, 255, 255);
	text-shadow: -6px 0px 2px rgb(88, 78, 78);
	padding-top: 1rem;
	letter-spacing: 4px;
}

.main-title::selection {
	color: #fff;
	background-color: none;
}

.game {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.game-section {
	background-image: url(../assets/images/table.jpg);
	background-size: cover;
	width: 30rem;
	height: 30rem;
	margin-top: 5rem;
	border: 2px solid #fff;
	border-radius: 2px;
	position: relative;
	filter: sepia(55%);
	overflow-y: hidden;
	margin-bottom: 3rem;
}

.demon {
	width: 12rem;
	height: 12rem;
	position: absolute;
	left: 9rem;
	top: 7rem;
	background-image: url(../assets/images/demon.png);
	background-position: center;
	background-size: cover;
}

.gun {
	z-index: 5;
	width: 25rem;
	height: 25rem;
	position: absolute;
	top: 10rem;
	left: 3rem;
	background-image: url(../assets/images/gun.png);
	background-position: center;
	background-size: cover;
}

table.inventory {
	border: 3px solid #fff;
}

.health {
	margin-top: 20rem;
}

.informations__title {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	color: #fff;
}

.health__title::selection {
	color: #fff;
	background-color: none;
}

.health__bar {
	display: flex;
	gap: 10px;
}

.health__bar__point {
	width: 1rem;
	height: 1.5rem;
	background-color: #fff;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: 900;
	display: flex;
	justify-content: center;
	align-items: center;
}

.health__bar__point::selection {
	color: #000;
	background-color: none;
}

.inventory__item {
	width: 5rem;
	height: 5rem;
	border: 1px solid #fff;
     background-color: rgb(15, 15, 15);
     background-position: center;
     background-size: cover;
     filter: sepia(50%);
}

.cigarette {
     background-image: url(../assets/icons/cigarette.png);
}

.hack-saw {
     background-image: url(../assets/icons/hack-saw.png);
}

.handcuffs {
     background-image: url(../assets/icons/handcuffs.png);
}

.magnifying-glass {
     background-image: url(../assets/icons/magnifying-glass.png);
}

.soda {
     background-image: url(../assets/icons/soda.png);
}